.profileViewContainer {
  background-image: url("../../assets/bgProfile.jpeg");
  background-size: cover;
  overflow: hidden;
  overflow-x: hidden;
  width: 100%;
  height: 115em;
}

.profileAppointments{
  margin-top: 65em;
}

.profileSidebar {
  width: 70em;
  height: 4em;
  background-color: rgba(255, 255, 255, 0.689);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 12em;
  margin-left: 28.2em;
  border-radius: 7px;
  border: #e86448 3px solid;
}

.sidebarText {
  font-size: 2.2em;
  font-variant: all-petite-caps;
  text-align: center;
  margin-left: -0.4em;
  color: #e86448;
}

.sidebarItem {
  color: #e86448;
  cursor: pointer;
}

.profileContent {
  width: 70em;
  margin-top: 1em;
  border: 1px solid #333;
  margin-top: 1em;
  margin-left: 28.2em;
  height: 30em;
  background-color: rgba(255, 255, 255, 0.686);
  color: white;
  border-radius: 7px;
  border: #e86448 3px solid;
}

.titleProfile {
  font-size: 2.2em;
  font-weight: bold;
  margin-left: 2.8em;
  margin-top: 1em;
  font-variant: all-petite-caps;
}

.buttonEditProfile {
  width: 9em;
  height: 2.5em;
  border-radius: 7px;
  background-color: #e86448;
  color: white;
  border: 2px solid white;
  margin-right: 8em;
  margin-top: 2em;
  font-size: 1em;
  font-weight: bold;
}

.buttonEditProfile:hover {
  background-color: #e86348a1;
  color: white;
}

.lineProfile {
  width: 90%;
  height: 10px;
  text-align: center;
  font-size: 28px;
  position: relative;
  margin-left: 2em;
}

.lineProfile:before {
  content: "";
  width: 100%;
  border-bottom: solid 5px white;
  position: absolute;
  left: 0;
  z-index: 1;
}

.inputContainer0 {
  display: flex;
  justify-content: space-between;
  margin-left: 6em;
  margin-right: 6em;
  padding: 0.2em;
  height: 8em;
 
}

.inputContainer1 {
  display: flex;
  justify-content: space-between;
  margin-left: 6em;
  margin-right: 6em;
  padding: 0.2em;
  height: 9em;

}

.inputContainer0 label,
.inputContainer1 label {
  color: white;
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 8em;
  color: #e86448;
  font-variant: all-petite-caps;
}

.infoProfile {
  font-weight: bold;
  border: 2px solid white;
  width: 25em;
  height: 3em;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0.5em;
  color: white;
}

.profileHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.informationEditProfile {
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 42em;
  margin-bottom: 1em;
  color:#e86448;
}

.buttonSaveChanges {
  width: 20em;
  height: 3.5em;
  border-radius: 7px;
  background-color: black;
  color: #efb810;
  border: 2px solid #efb810;
  font-size: 1em;
  font-weight: bold;
  margin-left: 25em;
}

.buttonSaveChanges:hover {
  background-color: #efb710a1;
  color: white;
}

.infoChangeProfile {
  margin-left: 4.5em;
  font-weight: bold;
  width: 17em;
  margin-top: 1em;
}

.custom-input[disabled] {
  background-color: #fff;
}

.labelProfile{
  font-size: 1.2em;
}

