/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * acumin-pro:
 *   - http://typekit.com/eulas/00000000000000003b9acaf2
 *   - http://typekit.com/eulas/00000000000000003b9acaf3
 *   - http://typekit.com/eulas/00000000000000003b9acaf4
 *   - http://typekit.com/eulas/00000000000000003b9acaf5
 * acumin-pro-wide:
 *   - http://typekit.com/eulas/00000000000000003b9acb3d
 *   - http://typekit.com/eulas/00000000000000003b9acb3f
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2020-12-01 16:01:26 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=mwq2wei&ht=tk&f=26055.26057.26058.26059.26075.26086&a=1584221&app=typekit&e=css");

@font-face {
font-family:"acumin-pro";
src:url("https://use.typekit.net/af/9871e5/00000000000000003b9acaf2/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/9871e5/00000000000000003b9acaf2/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/9871e5/00000000000000003b9acaf2/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:200;font-stretch:normal;
}

@font-face {
font-family:"acumin-pro";
src:url("https://use.typekit.net/af/19e775/00000000000000003b9acaf3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff2"),url("https://use.typekit.net/af/19e775/00000000000000003b9acaf3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff"),url("https://use.typekit.net/af/19e775/00000000000000003b9acaf3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:200;font-stretch:normal;
}

@font-face {
font-family:"acumin-pro";
src:url("https://use.typekit.net/af/a2c82e/00000000000000003b9acaf4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/a2c82e/00000000000000003b9acaf4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/a2c82e/00000000000000003b9acaf4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"acumin-pro";
src:url("https://use.typekit.net/af/51b548/00000000000000003b9acaf5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/51b548/00000000000000003b9acaf5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/51b548/00000000000000003b9acaf5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"acumin-pro-wide";
src:url("https://use.typekit.net/af/1b8691/00000000000000003b9acb3d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/1b8691/00000000000000003b9acb3d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/1b8691/00000000000000003b9acb3d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"acumin-pro-wide";
src:url("https://use.typekit.net/af/e3a744/00000000000000003b9acb3f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/e3a744/00000000000000003b9acb3f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/e3a744/00000000000000003b9acb3f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

.tk-acumin-pro { font-family: "acumin-pro",sans-serif; }
.tk-acumin-pro-wide { font-family: "acumin-pro-wide",sans-serif; }


@font-face {
	font-family: 'Arboria';
	src: url('../fonts/Arboria-Book.eot');
	src: url('../fonts/Arboria-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Arboria-Book.woff2') format('woff2'),
		url('../fonts/Arboria-Book.woff') format('woff'),
		url('../fonts/Arboria-Book.ttf') format('truetype'),
		url('../fonts/Arboria-Book.svg#Arboria-Book') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
  
@font-face {
	font-family: 'Arboria';
	src: url('../fonts/Arboria-Light.eot');
	src: url('../fonts/Arboria-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Arboria-Light.woff2') format('woff2'),
		url('../fonts/Arboria-Light.woff') format('woff'),
		url('../fonts/Arboria-Light.ttf') format('truetype'),
		url('../fonts/Arboria-Light.svg#Arboria-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
  
@font-face {
	font-family: 'Arboria';
	src: url('../fonts/Arboria-Medium.eot');
	src: url('../fonts/Arboria-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Arboria-Medium.woff2') format('woff2'),
		url('../fonts/Arboria-Medium.woff') format('woff'),
		url('../fonts/Arboria-Medium.ttf') format('truetype'),
		url('../fonts/Arboria-Medium.svg#Arboria-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Canela';
	src: url('../fonts/Canela-Bold.woff2') format('woff2'),
		url('../fonts/Canela-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Canela';
	src: url('../fonts/Canela-LightItalic.woff2') format('woff2'),
		url('../fonts/Canela-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Canela';
	src: url('../fonts/Canela-Light.woff2') format('woff2'),
		url('../fonts/Canela-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Canela';
	src: url('../fonts/Canela-Regular.woff2') format('woff2'),
		url('../fonts/Canela-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


.jv-iframe body .jv-page-container {
	max-width: 1358px;
	padding-left: 32px;
	padding-right: 32px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.jv-iframe body.jv-page-jobs .jv-page-container .jv-page-body .jv-wrapper h2 {
	display: none;
}
.jv-iframe body.jv-page-jobs .jv-page-container .jv-page-body .jv-wrapper > p,
.jv-iframe body .jv-page-container .jv-page-body .jv-wrapper > hr,
.jv-iframe body.jv-page-jobs .jv-page-container .jv-page-body .jv-wrapper > a,
.jv-iframe body .jv-page-container .jv-footer {
	display: none;
}
.jv-iframe body .jv-page-container .jv-page-body .jv-wrapper h3.h2 {
	font-family: "Arboria";
	font-size: 24px;
	line-height: 26px;
	letter-spacing: 2px;
	max-width: 100%;
	text-transform: uppercase;
	margin-bottom: 32px;
	display: block;
	border-bottom: 1px solid #807566;
	padding-bottom: 32px;
	margin-top: 0;
	color: #404242;
}
.jv-iframe body .jv-page-container .jv-page-body .jv-wrapper .jv-job-list tr {
	font-family: "Arboria";
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 2px;
	max-width: 100%;
	display: flex;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(128, 117, 102, 0.3);
	padding: 0 0 32px;
	color: #807566;
	margin: 0 0 32px;
	flex-wrap: wrap;
	justify-content: space-between;
}
.jv-iframe body .jv-page-container .jv-page-body .jv-wrapper .jv-job-list tr td {
	padding: 0;
	border: none;
}
.jv-iframe body .jv-page-container .jv-page-body .jv-wrapper .jv-job-list tr td a {
    color: #807566;
    font-weight: 500;
}
.jv-iframe body .jv-page-container .jv-page-body .jv-wrapper .jv-job-list tr td.jv-job-list-location {
    font-size: 14px;
    flex: 1;
    padding-left: 15px;
}
.jv-iframe body .jv-page-container .jv-page-body .jv-wrapper .jv-job-list {
    margin-bottom: 64px;
}

.jv-iframe body.jv-page-job .jv-page-container .jv-page-body .jv-wrapper > .jv-header,
.jv-iframe body.jv-page-apply .jv-page-container .jv-page-body .jv-wrapper > .jv-header,
.jv-iframe body.jv-page-consentform .jv-page-container .jv-page-body .jv-wrapper > h3 {
    font-family: 'Canela';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    color: #404242;
    margin: 0 0 16px;
}
.jv-iframe body.jv-page-job .jv-page-container .jv-page-body .jv-wrapper > .jv-job-detail-meta,
.jv-iframe body.jv-page-apply .jv-page-container .jv-page-body .jv-wrapper > .jv-apply-meta {
    font-family: 'Arboria';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #807566;
    margin: 0 0 20px;
}
.jv-iframe body.jv-page-job .jv-page-container .jv-page-body .jv-wrapper > .jv-job-detail-meta .jv-inline-separator,
.jv-iframe body.jv-page-apply .jv-page-container .jv-page-body .jv-wrapper > .jv-apply-meta .jv-inline-separator {
    font-size: 0;
    margin: 0 18px;
}
.jv-iframe body.jv-page-job .jv-page-container .jv-page-body .jv-wrapper > .jv-job-detail-meta .jv-inline-separator::before,
.jv-iframe body.jv-page-apply .jv-page-container .jv-page-body .jv-wrapper > .jv-apply-meta .jv-inline-separator::before {
    content: "|";
    font-size: 18px;
}
.jv-button,
.jv-job-detail-bottom-actions .jv-current-openings a,
.jv-apply-form-actions .jv-current-openings a,
.jv-form .jv-button {
    padding: 8px 16px;
    font-family: 'Arboria';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 0;
    transition: all 0.3s ease-in;
	border: 1px solid;
    outline: none;
}
.jv-button.jv-button-primary,
.jv-button,
.jv-form .jv-button {
    background: #807566;
    border-color: #807566;
    color: #fff;
}
.jv-button.jv-button-primary:hover,
.jv-button:hover,
.jv-job-detail-bottom-actions .jv-current-openings a,
.jv-apply-form-actions .jv-current-openings a,
.jv-form .jv-button:hover,
.jv-iframe body.jv-page-consentform .jv-page-container .jv-page-body .jv-wrapper .jv-form .jv-button,
.jv-iframe body.jv-page-consentform .jv-page-container .jv-page-body .jv-wrapper .jv-form .jv-button:hover {
    background: transparent;
    color: #807566;
	border-color: #807566;
}
.jv-job-detail-bottom-actions .jv-button-apply-later {
    display: none;
}
.jv-job-detail-description h3,
.jv-job-detail-description h2,
.jv-job-detail-description h1 {
    font-family: 'Arboria';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #404242;
    margin: 60px 0 48px;
}   
.jv-job-detail-description h4,
.jv-job-detail-description h5,
.jv-job-detail-description h6,
.jv-prescreen-section .jv-prescreen-section-header,
.jv-form .jv-form-field .jv-form-field-control h4 {
    margin: 30px 0 20px;
    font-family: 'Arboria';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #404242;
}
.jv-prescreen-section .jv-prescreen-section-header {
    font-size: 20px;
    margin-bottom: 0 0 24px;
}
.jv-job-detail-description p,
.jv-job-detail-description li,
.jv-job-detail-description span,
.jv-job-detail-description div {
    font-family: "acumin-pro", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
    font-weight: 300 !important;
    font-style: normal !important;
    font-size: 18px !important;
    line-height: 25px !important;
    letter-spacing: 0.2px !important;
    color: #404242 !important;
    margin: 0 !important;
}
.jv-job-detail-description li {
    margin: 0;
}
.jv-job-detail-description p:empty {
    display: none;
}
.jv-job-detail-description p {
    margin: 0 0 16px;
}
.jv-job-detail-bottom-actions,
.jv-apply-form-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
	margin: 128px 0 96px;
}
.jv-job-detail-bottom-actions .jv-current-openings,
.jv-apply-form-actions .jv-current-openings {
    margin: 0;
}
.jv-job-detail-bottom-actions .jv-current-openings a,
.jv-apply-form-actions .jv-current-openings a {
    display: inline-block;
}
.jv-iframe body.jv-page-job .jv-page-container .jv-page-body .jv-wrapper .jv-share-widget,
.jv-iframe body.jv-page-job .jv-page-container .jv-page-body .jv-wrapper .jv-recommended-jobs {
	display: none;
}
.jv-iframe body.jv-page-apply .jv-page-container .jv-page-body .jv-wrapper > p {
    font-family: 'Arboria';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #404242;
}
.jv-apply-form .jv-apply-step .jv-step-header,
.jv-apply-form .jv-apply-step .jv-apply-section .jv-form-field .jv-form-field-p p {
    font-family: 'Arboria';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #404242;
    margin: 0 0 16px;
}
.jv-apply-form {
    margin-top: 80px;
}
.jv-form {
    margin-bottom: 80px;
}
.jv-apply-form .jv-apply-step .jv-apply-section .jv-button {
    font-family: 'Arboria';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #807566;
    background: no-repeat;
    display: flex;
}
.jv-apply-form .jv-apply-step .jv-apply-section .jv-form-field:nth-child(2) {
    display: none;
}
.jv-apply-form .jv-apply-step .jv-apply-section .jv-form-field .jv-form-field-label,
.jv-apply-form .jv-apply-step .jv-apply-section .jv-form-field .jv-form-field-legend,
.jv-form > div > label,
.jv-apply-form .jv-apply-step .jv-apply-section .jv-form-field .jv-form-field-p p {
    font-family: 'Arboria';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #404242;
    width: 250px;
    margin-right: 16px;
}
.jv-form > div > label {
    width: 100%;
}
.jv-apply-form .jv-apply-step .jv-apply-section .jv-form-field .jv-form-field-control input,
.jv-apply-form .jv-apply-step .jv-apply-section .jv-form-field .jv-form-field-control select,
.jv-apply-form .jv-apply-step .jv-apply-section .jv-form-field .jv-input-group .jv-input-group-row,
.jv-form > select,
.jv-apply-form .jv-apply-step .jv-apply-section .jv-form-field .jv-form-field-control textarea {
    border-color: #404242;
    border-radius: 0 !important;
    font-family: 'Arboria';
    font-style: normal;
    font-weight: normal;
    font-size: 16px !important;
    line-height: 20px;
    color: #404242;
    padding: 7px 16px;
    outline: none;
    box-shadow: none;
    background: none;
    width: 300px;
}
.jv-apply-form .jv-apply-step .jv-apply-section {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 84px;
}
.jv-apply-form .jv-apply-step .jv-apply-section .jv-form-field .jv-form-field-control select,
.jv-apply-form .jv-apply-step .jv-apply-section .jv-form-field .jv-input-group .jv-input-group-row,
.jv-form > select {
    font-family: 'Arboria';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #807566;
}
.jv-apply-form .jv-apply-step .jv-apply-section .jv-form-field .jv-input-group {
    width: 569px;
}
.jv-apply-form .jv-apply-step .jv-apply-section .jv-form-field .jv-input-group .jv-input-group-row.jv-input-group-row-active {
    background-color: #807566;
    color: #fff;
}
.jv-apply-form .jv-apply-step .jv-apply-section .jv-form-field .jv-form-field-p {
    margin-top: 34px;
}
#socialProfile {
    display: none;
}
.jv-apply-form .jv-apply-step .jv-apply-section.jv-additional-files {
    margin-bottom: 120px;
}
.jv-apply-form .jv-apply-step .jv-apply-form-actions .jv-message {
    flex: 0 0 100%;
}
.jv-apply-form .jv-apply-step .jv-apply-form-actions .jv-apply-error {
    flex: 0 0 100%;
}
.jv-apply-form .jv-apply-step .jv-apply-section .jv-form-field .jv-form-field-control .jv-select-group i::before,
.jv-apply-form .jv-apply-step .jv-apply-section .jv-button i::before {
    display: none;
}
.jv-apply-form .jv-apply-step .jv-apply-section .jv-form-field .jv-form-field-control .jv-select-group i,
.jv-apply-form .jv-apply-step .jv-apply-section .jv-button i {
    background-image: url("../img/select-down-arrow.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    display: block;
    margin-top: auto;
    top: 10px;
    margin-left: 8px;
}
.jv-apply-form-actions .jv-message, .jv-apply-form-actions .jv-apply-error {
    flex: 0 0 100%;
}
.jv-form > select {
    background-image: url(../img/select-down-arrow.svg) !important;
    background-repeat: no-repeat;
    background-size: 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-position: 98% center;
    padding: 0 40px 0 20px;
}
.jv-form .jv-button .icon::before {
    content: "←";
}
.jv-form-error,
.jv-iframe body.jv-page-applyconfirm .jv-page-container .jv-page-body .jv-wrapper .jv-page-message {
    font-family: 'Arboria';
}
.jv-iframe body.jv-page-applyconfirm .jv-page-container .jv-page-body .jv-wrapper .jv-page-message {
    margin-bottom: 60px;
}
.jv-apply-form .jv-apply-step .jv-apply-section .jv-form-field .jv-form-field-p {
    margin-top: 0;
    width: 250px;
    margin-right: 19px;
}
.jv-prescreen-section .jv-prescreen-section-header + .jv-prescreen-element-sectiontitle {
    display: none;
}
.jv-job-detail-description strong,
.jv-job-detail-description b {
    font-family: 'Arboria';
    font-weight: bold; 
} 