 .appointmentContainer {
  background-image: url("../../assets/bgBook.jpg");
  background-size: cover;
  height: 65em;
  margin-top: -60em;
}

.tableContainer {
  margin: 2em 3em;
  max-width: calc(100% - 6em);
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.842);
  color: white;
}

th, td {
  border: 2px solid #15575d;
  text-align: left;
  padding: 8px;
  font-weight: bold;
}

th {
  background-color: #15575d;
  border: 2px solid white;
}

tr:hover {
  background-color: #15575da4;
}

.action-iconDelete, .action-iconEdit, .action-iconRestore{
  margin-right: 0.7em;
}

.deletedRow .action-iconEdit,
.deletedRow .action-iconDelete {
  cursor: not-allowed;
  color: #808080; 
}

.deletedRow .action-iconEdit:hover,
.deletedRow .action-iconDelete:hover {
  color: #808080; 
}


.deletedRow .action-iconRestore {
  cursor: pointer;
  color: #ffffff; 

}

.deletedRow .action-iconRestore:hover {
  color: #ffffff; 
}

.deletedRow td {
  color: #808080; 
  pointer-events: none;
}
.deletedRow .action-iconRestore,
.deletedRow .action-iconRestore:hover {
  pointer-events: auto;
}
