.footerContainer{
    width: 100%;
    height: 80em;
    background-color: black;
   margin-left: -0.5em;
}

img.africanWomanFooter{
  height: 32em;
  width: 127em;
  margin-top: 16em;
  opacity: 0.5;
}