.containerModal{
    margin-top: 12em;
}

.titleModal{
    font-size: 3.5em;
    font-variant: all-petite-caps;
    color: #3f888f;
    text-align: center;
    margin-top: -1.5em;
    padding-bottom: 0.6em;

}

